.bi-qr-code {
    color:darkmagenta ;
    font-size: 60px;
}

.bi-smartwatch{
    color: steelblue;
    font-size: 50px;
}

.bi-snow2{
    color: mediumslateblue;
    font-size: 40px;
}

.container{
    border: 2px solid rgb(0, 0, 0);
}