/* XS */
h1{
    color: rgb(255, 0, 0);
}

/* SM >= 576px */

@media (min-width:576px){
h1{
    color: blue;
}
}

/* MD >= 768px */

@media (min-width:768px){
    h1{
        color: rgb(21, 255, 0);
    }
    }

    /* LG >= 992px */

@media (min-width:992px){
    h1{
        color: rgb(132, 0, 255);
    }
    }

    /* XL >= 1200px */

@media (min-width:1200px){
    h1{
        color: rgb(255, 0, 212);
    }
    }

/*Meu monitor*/

.btn-primary{
    background-color: red;
}

/* Só vai mudar a cor se colocar o nome da classe, por que o seletor de bootstrap é mais forte, necessita dessa mudança*/

.container{
    background-color: aqua;
}


.container-fluid{
    background-color: brown;
}

/* container breakpoint*/

.container-sm{
    margin-bottom: 30px;
    border: 2px solid blue;
}

.container-md{
    margin-bottom: 30px;
    border: 2px solid rgb(216, 11, 124);
}

.container-lg{
    margin-bottom: 30px;
    border: 2px solid rgb(255, 187, 0);
}

/*grid*/

.container{
    border: 5px dotted blue;
    padding: 10px;
    margin-bottom: 300px;
}

.row{
    border: 5px solid purple;
    height: 100px;
    padding: 10px;
    margin: 0px;
}

.col{
    border: 2px dashed red;
    height: 100%;
    margin: 0px;
}

.col,
.col-4,
.col-2,
.col-1,
.col-11,
.col-6,
.col-3{
    border: 2px dashed red;
    height: 100%;
    margin: 0px;
}

largura-limitada{
    max-width: 500px;
}

/*alinhamento vertical*/

.vertical{
    height: 250px;
    border-color: coral;
}

.vertical .row{
    height: 100%;
}

.col-6,
.col-3{
    height: 50px;
}